body,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@import "./Header.scss";
@import "./NavBar.scss";
@import "./Home.scss";
@import "./ContainerCards.scss";
@import "./Card.scss";
@import "./FormContact.scss";
@import "./Footer.scss";
