.nav {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: $primary;
  border-bottom: 1px solid rgba(153, 153, 153, 0.486);
  display: grid;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  grid-template-columns: 10% 85%;
  z-index: 50;
}

.nav-logo {
  width: 180px;

  @media screen and (max-width: 600px) {
    width: 150px;
  }
}

.nav-collapse,
.nav-collapse__list {
  display: flex;
}

.nav-collapse {
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 750px) {
    display: none;
  }
}

.nav-collapse__list {
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: flex-end;
}

.nav-collapse__list-item,
.nav-collapse__list-item__show {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.nav-collapse__list-item {
  padding-right: 15px;
  color: white;
  font-family: $item;
  font-size: 1.1rem;
  transition: color 0.1s ease-in;

  @media screen and (max-width: 850px) {
    font-size: 1rem;

  }

  @media screen and (min-width: 600px) {
    &:hover {
      color: rgb(202, 202, 202);
    }
  }
}

.nav-collapse__button {
  height: max-content;
  background-color: $primary;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;

  @media screen and (min-width: 600px) {
    &:hover {
      background-color: $primaryHover;
    }
  }
}

.nav-menu {
  position: absolute;
  top: 8px;
  right: 10px;
  display: block;
  cursor: pointer;
  font-size: 2.2rem;
  color: white;
  height: max-content;
  width: max-content;

  @media screen and (min-width: 750px) {
    display: none;
  }
}

.nav-collapse__show,
.nav-collapse__list-show {
  @media screen and (max-width: 600px) {
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@keyframes animationMenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-collapse__show {
  @media screen and (max-width: 750px) {
    z-index: 50;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50px;
    background-color: $primary;
    padding: 20px 20px 0 20px;
    border-top: 1px solid rgba(153, 153, 153, 0.486);
    padding-bottom: 25px;
    height: calc(100vh - 95px);
    justify-content: flex-start;
    animation: animationMenu 0.2s ease-in;

    & li {
      padding-bottom: 25px;
    }
  }
}

.nav-collapse__list-show {
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.nav-collapse__list-item__show {
  @media screen and (max-width: 600px) {
    padding-right: 0;
  }
}

.nav-menu__back {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 10;
    cursor: pointer;
  }
}
