.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 50px);
    overflow: hidden;
    padding-bottom: 20px;
}

@keyframes formAnimation {
    0% {
        transform: translateX(100%);
    }
    
    100% {
        transform: translateX(0);
        
    }
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    animation: formAnimation .7s ease-out;

    @media screen and (max-width: 1100px) {
        width: 40%;
    }
    @media screen and (max-width: 950px) {
        width: 45%;
    }
    @media screen and (max-width: 850px) {
        width: 50%;
    }
    @media screen and (max-width: 750px) {
        width: 55%;
    }
    @media screen and (max-width: 650px) {
        width: 60%;
    }
    @media screen and (max-width: 550px) {
        width: 70%;
    }
    @media screen and (max-width: 450px) {
        width: 80%;
    }
    @media screen and (max-width: 350px) {
        width: 90%;
    }
    @media screen and (max-width: 250px) {
        width: 95%;
    }
}

.form-register__title  {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.form-span {
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
}

@keyframes imgFormAnimation {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(0);
        
    }
}

.form-image {
    width: 40%;
    animation: imgFormAnimation .7s ease-out;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.wave {
    height: 110vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 60px;
    transition: .2s ease;
    z-index: -1;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.wave-svg {
    height: 100%;
    width: 100%;
}

.wave-svg__path {
    stroke: none;
    fill: #c23e3e;
}

.form-login__link {
    margin-top: 10px;
    color: $primary;
    font-family: "Poppins", sans-serif;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px,
        rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.google-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.google-btn__title {
    margin-left: 10px;
    font-size: 1rem;
}