.site-section__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tabs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: auto;
  width: 70%;
  padding: 10px 12px;
  border-top: $border;
  border-bottom: $border;

  @media screen and (max-width: 600px) {
    width: 95%;
    padding: 5px 7px;
  }
}

.tab-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 12px;
  width: 20%;

  @media screen and (max-width: 500px) {
    padding: 5px;
  }
}

.icon {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  transition: 0.2s ease-in;

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transition: 0.1s ease-out;
    transform: scale(1);
  }
}

.tab-menu__active {
  color: $primary;
}

.tab-title {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;

  @media screen and (max-width: 500px) {
    font-size: 0.6rem;
  }
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(5, 0.6fr);
  padding: 20px 12px;
  place-content: center;
  gap: 30px;

  @media screen and (max-width: 1700px) {
    grid-template-columns: repeat(4, 0.6fr);
  }
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(3, 0.6fr);
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 0.6fr);
  }
  @media screen and (max-width: 750px) {
    grid-template-columns: 0.8fr;
  }
}

.card__menu {
  transition: 0.2s ease-in;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  width: 280px;
 
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
  }

  @media screen and (max-width: 600px) {
    width: 250px;
  }
}

.card-container__image {
  display: block;
  margin: auto;
  text-align: center;
  object-fit: cover;
  width: 70%;

  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.card-image__restaurant {
  width: 90%;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 1rem;
}

.card-info__food {
  font-family: $cardSpan;
  font-weight: bolder;
}

.card-description {
  font-size: 0.9rem;
  width: 75%;
  font-weight: bold;
  padding: 0 10px 10px 10px;
}

.card-info__price {
  font-family: $cardPrice;
  font-weight: bold;
}

.restaurant-site__title {
  padding: 15px 0 5px 0;
  text-align: center;
  color: $primary;
  text-shadow: 1px 1px 1px black;
  font-family: $title;
  width: 80%;
  margin: auto;

  @media screen and (max-width: 600px) {
    font-size: 1.1rem;
  }
}

.restaurant-site__menu {
  text-shadow: none;
  color: black;
  padding: 5px 0;
}
